@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family:"Poppins", sans-serif;
}

.landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(../images/bg.jpeg)no-repeat;
    background-size:cover;
    background-position: center;
    color: black;

    &__header {
        position: relative;
        top: 0;
        width: 80%;
        padding: 30px 100px;
        display:flex;
        justify-content: space-between;
        align-items: center;

            &__logo {
                position: relative;
                color: black;
                font-size: 30px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
            }

            & a{
                color: #000;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 1px;
                padding: 2px 15px;
                border-radius: 20px;
                transition: 0.3s;
                transition-property: background;
            
                &:hover{
                    background: #05A63D;
                }
            }

            &__label {
                display: none;        
            }
}

        &__content  {
            max-width: 650px;
            margin: 60px 100px;
        
            & h2 {
                font-weight: bolder;
                color: #05A63D;
                font-size: 55px;
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 30px;
            }
        
            & h2 span {
                color:black;
                font-size: 50px;
                font-weight: 600;
            }

            & p{
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
            }
        
            &__button {
                color: #fff;
                background:#05A63D;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 2px;
                padding: 10px 20px;
                border-radius: 5px;
            
                    &:hover {
                        background:black;
                        }
            }
        }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        & a {
            position: relative;
            color: #111;
            font-size: 25px;
            padding: 30px 100px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            transition: 0.3s;
            transition-property: transform;

                &:hover {
                    transform: scale(1.5);
                }
        }
    }
}

#check {
    z-index: 3;
    display: none;
}
    
    /* Responsive Styles*/ 

@media (max-width: 960px){

    .landing {

        &__header {

            &__navigation {
                display: none;

                #check:checked {
                    z-index: 2;
                    position: fixed;
                    background: rgba (114,223,255, 0.9);
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                }

            }
        
            &__label {
                display: block;
                font-size:25px;
                cursor:pointer;
                transition: 0.3s;
                transition-property: color;

                &:hover {
                    color:#fff;
                }

                & .fa-times {
                    display: none;
                }
            }
        }

    &__content {

            h2 {
                font-size: 45px;
                line-height: 50px;
            }

            & h2 span {
                font-size: 40px;
                font-weight: 600;
            }

            & p {
                font-size: 14px;
            }
        }
    }
}

@media (max-width:560px) {

    .landing__content {

        h2 {
            font-size: 35px;
            line-height: 40px;
        }

        & h2 span {
            font-size: 30px;
            font-weight: 600;
        }

        & p {
            font-size: 10px;
        }
    }
    
}